.footer {
  padding: 50px 0;
  display: grid;
  grid-template-columns: $templateGrid;
  &__left {
    h2 {
      margin: 20px;
    }
    p {
      font-size: $fontSize18;
      font-weight: 500;
      width: 70%;
      margin: $marginLR;
    }
    a {
      display: block;
      text-decoration: none;
      color: $backgroundColor;
      margin-top: $fontSize18;
      font-size: $fontSize18;
      &:hover {
        margin-left: 50px;
        transition: 1s;
        text-decoration: underline;
      }
      .svg-inline--fa {
        margin: $marginLR;
        color: $colorRed;
      }
    }
  }
  &__center {
    margin: $marginTB;
    h2 {
      padding: $marginLR;
    }
    &--image {
      position: relative;
      height: 100px;
      margin: 20px;
      box-shadow: 6px 0 38px rgba(20, 20, 20, 0.2);
      img {
        position: absolute;
        width: 100px;
        height: 100px;
        object-fit: cover;
      }
      .footer__center--text {
        width: 100%;
        text-align: center;
        position: absolute;
        top: 25%;
        p {
          font-size: $fontSize18;
        }
        small {
          color: $colorGray1;
        }
      }
    }
  }
  &__right {
    margin: $marginTB;
    h2 {
      padding: $marginLR;
    }
    div {
      margin: 20px 20px 0 20px;
      input {
        display: inline-block;
        padding: $fontSize14;
      }
      button {
        background: $backgroundColor;
        padding: $fontSize14;
        color: $colorWhite;
        margin-left: 20px;
        cursor: pointer;
        border: 1px solid $backgroundColor;
        &:hover {
          background: $colorRed;
          transition: 0.5s;
        }
        @media screen and (max-width: 1098px){
          margin-top: 20px;
          margin-left: 0;
        }
        @media screen and (max-width: 375px){
          margin-top: 20px;
        }
      }
    }
    &--icon{
      display: block;
      a{
        font-size: $fontSize28;
        color: #FF8552;
        padding-right: 20px;
        &:hover{
          color: #d62828;
          transition: 1s;
          cursor: pointer;
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    grid-template-columns: none;
  }
}
