$font: "Roboto Slab", serif;
$colorWhite: #fff;
$backgroundColor: #171819;
$padding20: 20px;
$fontSize18: 18px;
$fontSize28: 28px;
$fontSize22: 22px;
$fontSize48: 48px;
$fontSize36: 36px;
$fontWeight: 300;
$width70: 70%;
$colorGray: #909090;
$colorGray1: #666262;
$colorGray2: #484848;
$fontSize14: 14px;
$colorRed: #f13a11;
$marginLR: 0 20px;
$marginTB: 20px 0;
$templateGrid: repeat(auto-fit, minmax(100px, 1fr));
